extends layout

block content
    .inner
        h2 Prime DUP Sub Max
        p What does RPE mean?
        p Rate of Perceieved Exertion. RPE refers to a judgement of how many reps are "left in the tank." of a given set. The scale is written to the left of what each RPE stands for. If your program says "3 sets of 10, 2 RIR," select a weight that you could do for 12 reps to failure, but complete 10 reps (therefore leaving 2 in the tank). The easiest way to determine your RIR is to work up in sets of however many reps you are to do. For instance, if your program calls for 3 sets of 8 @ 2 RIR, warm up with lighter weights in sets of 8. Continue adding weight in sets of 8 until you feel the weight is heavy enough that you would only have 2 reps left in you at the end of the set. That set will count as your first working set (set 1 of 3, in this example). Finish your sets with that weight, or decrease the load if necessary.
        a(href="/program") Enter Max Weight
