mixin tableDay()
    table
        thead
            tr
                th Week 1
            tr
                th June 09
            tr
                th Exercise
                th Sets
                th Reps
                th Load/RPE 
                th Top Set
                th Rating
            tr  
                td Comp Squat 
                td 1 
                td 5 
                td 6
                td 
                td
            tr 
                td  
                td 3 
                td 5 
                td #{squatRound}
                td 
                td
            tr 
                td  
                td 1
                td AMRAP
                td Same
                td 
                td
            tr 
                td Comp Bench Press
                td 2 
                td 5 
                td 5,6
                td 
                td
            tr 
                td 
                td 3 
                td 5 
                td #{benchRound}
                td 
                td
            tr 
                td 
                td 1
                td AMRAP 
                td same
                td 
                td
            tr 
                td OHP
                td 1
                td AMRAP
                td same
                td
            tr 
                td Bulgarian Split Squat
                td 3
                td 8
                td 6
                td
            tr 
                td Abs of Choice
                td 3
                td 
                td 
                td